<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Based Product Recommendation System</title>
  </head>
  <body>
    <h1>
      Welcome,
    </h1>
    <div>
      <form id="username-form">
        <label for="username">Username:</label><br/>
        <input name="username" type="text" value="00sab00" /><br />
        <input type="submit" value="Submit" />
      </form>
      <br />
      <ul id="products-list"></ul>
    </div>
    <script>
      const formEl = document.getElementById('username-form');
      const productListUl = document.getElementById("products-list")

      function clearProductsList() {
        productListUl.innerHTML = "";
      }

      function showProducts(products) {
        products.forEach((product) => {
          const li = document.createElement("li");
          li.appendChild(document.createTextNode(product))
          productListUl.appendChild(li)
        })
      }

      function handleFormSubmit(e) {
        e.preventDefault()
        // alert('submitted');
        const username = formEl.elements.username.value;
        console.log('username ', username)

        // clear the results
        clearProductsList()

        fetch(`/get-recommendations/${username}`)
          .then(function(response) {
            console.log('response', response)
            return response.json();
          })
          .then(function(json) {
            console.log('json ', json)
            showProducts(json.products)
          })
          .catch(function(e) {
            console.log('e ', e);
          })
      }

      formEl.addEventListener('submit', handleFormSubmit)
    </script>
  </body>
</html>